{% extends "base.html" %}

{% block title %}
List des Utilisateurs
{% endblock %}

{% block content %}


<section>

  <h1>Utilisateurs</h1>
    <table class="bg-white" data-toggle="table" data-search="true">
      <thead>
        <tr>
          <td data-sortable="true">Name</td>
          <td data-sortable="true">Email</td>
          <td data-sortable="true">Password</td>
          <td data-sortable="true">Date de création</td>
          <td data-sortable="true" span="2">Action</td>
        </tr>
      </thead>
      {% for col_name in name %}
      <tbody>
        <td>{{ col_name.name }}</td>
        <td>{{ col_name.email }}</td>
        <td>{{ col_name.password }}</td>
        <td>{{ col_name.created }}</td>
        <td>{{ col_name.id }}</td>
        <td>{{ col_name.id }}</td>
    </tbody>
    {% endfor %}
  </table>
  <div>     
    <button class="btn btn-lg mx-auto mt-5 d-block bouton">
     <a href="" id="addcandidacy">Ajouter candidature</a>
    </button>
  </div>
</section>
{% endblock %}